---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="flex min-h-screen flex-col items-center justify-between p-24">
		Exemplo de Reatividade:
		<ul>
			<li><a href="/vue-count">Contagem Vue</a></li>
			<li><a href="/react-count">Contagem React</a></li>
			<li><a href="/svelte-count">Contagem Svelte</a></li>
		</ul>
		Exemplo de Loop:
		<ul>
			<li><a href="/vue-item-list">Lista Vue</a></li>
			<li><a href="/react-item-list">Lista React</a></li>
			<li><a href="/svelte-item-list">Lista Svelte</a></li>
		</ul>
		Exemplo de Consumo de API:
		<ul>
			<li><a href="/vue-api">API Vue</a></li>
			<li><a href="/react-api">API React</a></li>
			<li><a href="/svelte-api">API Svelte</a></li>
		</ul>
	</main>
</Layout>
