---
import Layout from "../layouts/Layout.astro";
import SvelteItemListComponent from '../components/SvelteItemListComponent.svelte';
---

<Layout>
	<main>
        <SvelteItemListComponent client:load />
	</main>
</Layout>